<!-- <button *ngIf="authService.isLoggedIn()" (click)="goToProfile()">Profile</button> -->

<div class="form1">
  <div class="section-title">
    <h1 data-text="LoginForm">LoginForm</h1>
  </div>
  <div class="forms">
    <div class="form-wrapper" [ngClass]="{'is-active': activeForm === 'login'}">
      <form class="form form-login">
        <fieldset>
          <div class="input-block">
            <label for="email">E-mail</label>
            <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter Email" />
          </div>
          <div class="input-block">
            <label for="login-password">Password</label>
            <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter Password" />
          </div>
        </fieldset>
        <button type="submit" class="btn-login" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>




      
    <!-- <div class="form-wrapper" [ngClass]="{'is-active': activeForm === 'signup'}">
      <button type="button" class="switcher switcher-signup" (click)="switchForm('signup')">
        Sign Up
        <span class="underline"></span>
      </button>
      <form class="form form-signup" >
        <fieldset>
          <legend>Please, enter your email, password and password confirmation for sign up.</legend>
          <div class="input-block">
            <label for="signup-email">E-mail</label>
            <input id="signup-email" type="email" required>
          </div>
          <div class="input-block">
            <label for="signup-password">Password</label>
            <input id="signup-password" type="password" required>
          </div>
          <div class="input-block">
            <label for="signup-password-confirm">Confirm password</label>
           <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter Password"/>
          </div>
        </fieldset>
         <button type="submit" class="btn-login" (click)="login()">Login</button>      </form>
    </div> -->
  <!-- </div>
</html> -->
